<div class="social-header">
  <span class="wordmark" aria-label="BeSeen">Be<span>Seen</span></span>
  <div class="actions">
    <button type="button" (click)="notifications.emit()" [attr.aria-label]="'Notificações, ' + notificationsCount + ' não lidas'"><ion-icon name="notifications-outline" aria-hidden="true"></ion-icon><span class="badge" *ngIf="notificationsCount > 0">{{ notificationsCount }}</span></button>
    <button type="button" (click)="messages.emit()" [attr.aria-label]="'Mensagens, ' + messagesCount + ' não lidas'" aria-haspopup="dialog"><ion-icon name="chatbubble-ellipses-outline" aria-hidden="true"></ion-icon><span class="badge" *ngIf="messagesCount > 0">{{ messagesCount }}</span></button>
    <ng-content></ng-content>
  </div>
</div>
