<!-- Adicione (ionClear) para capturar quando o usuário clica no X -->
<ion-searchbar
  #searchBarRef
  placeholder="Pesquisar..."
  (ionInput)="onInput($event)"
  (ionClear)="onClear()"
  style="--background: rgba(255, 255, 255, 0.1); --color: white; --placeholder-color: rgba(255, 255, 255, 0.7); --icon-color: white; --clear-button-color: white; --border-radius: 8px;">
</ion-searchbar>

<ion-list *ngIf="results.length > 0" class="search-results">
  <ion-item [button]="true" *ngFor="let user of results" (click)="pick(user)">
    <ion-avatar slot="start">
      <img *ngIf="user.urlProfileImage" [src]="user.urlProfileImage" [alt]="user.fullName" />
      <ion-icon *ngIf="!user.urlProfileImage" name="person-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label style="color: white !important;">
      <h2 style="color: white !important;">{{ user.fullName}}</h2>
    </ion-label>
  </ion-item>
</ion-list>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)" *ngIf="hasMore && results.length > 0"
                     [class.hidden]="!hasMore || results.length === 0">
  <ion-infinite-scroll-content loadingSpinner="bubbles">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

<ion-spinner *ngIf="loading"></ion-spinner>
