<ion-card class="post-card">
  <ion-item lines="none" class="post-header">
    <ion-avatar slot="start">
      <img [src]="post.user.urlPerfil" />
    </ion-avatar>
    <ion-label class="user-name">{{ post.user.username }}</ion-label>
  </ion-item>

  <div class="media-container">
    <img *ngIf="post.mediaType === FileType.IMAGE" [src]="post.mediaUrl" class="post-image" />
    <video *ngIf="post.mediaType === FileType.VIDEO" [src]="post.mediaUrl" class="post-video" controls controlsList="nodownload nopictureinpicture" loop></video>
  </div>

  <div class="actions">
    <ion-button fill="clear" (click)="toggleLike()">
      <ion-icon slot="icon-only" [name]="post.isLiked ? 'football' : 'football-outline'" [color]="post.isLiked ? 'primary' : 'light'"></ion-icon>
    </ion-button>
    <ion-button fill="clear">
      <ion-icon slot="icon-only" name="chatbubble-outline" color="light"></ion-icon>
    </ion-button>
  </div>

  <div class="likes-count">
    <ion-label>{{ post.likesCount }} likes</ion-label>
  </div>

  <div class="caption">
    <div class="caption-user-name"><b>{{ post.user.username }}</b></div>
    <div class="caption-position" *ngIf="post.user.position || post.position">
      {{ post.user.position || post.position }}
    </div>
    <div class="caption-text">{{ post.caption }}</div>
  </div>

  <div class="comments-link">
    <ion-label>View all {{ post.commentsCount }} comments</ion-label>
  </div>
</ion-card>
