<ion-content class="ion-padding ion-text-center gradient-background">

  <div class="ion-padding-top">
    <h1 class="ion-color-light ion-padding-top">Recuperar Senha</h1>
    <p class="ion-color-light">Insira seu e-mail para receber um código de verificação.</p>
  </div>

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()">

    <!-- Email Field (Always Visible) -->
    <ion-item *ngIf="!codeSent" class="ion-margin-bottom" color="none">
      <ion-icon name="person-outline" slot="start" color="light"></ion-icon>
      <ion-input type="email" formControlName="email" placeholder="Seu Email" color="light" autocomplete="off"></ion-input>
    </ion-item>
    <div *ngIf="!codeSent && forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="ion-text-start ion-padding-start error-text">
      Email inválido.
    </div>

    <!-- Send Code Button -->
    <ion-button *ngIf="!codeSent" expand="block" (click)="sendCode()" [disabled]="forgotPasswordForm.get('email')?.invalid" color="primary" class="ion-margin-top">
      ENVIAR CÓDIGO
    </ion-button>

    <!-- Fields shown after code is sent -->
    <div *ngIf="codeSent">
      <ion-item class="ion-margin-bottom" color="none">
        <ion-icon name="shield-checkmark-outline" slot="start" color="light"></ion-icon>
        <ion-input type="text" formControlName="code" placeholder="Código de Verificação" color="light"></ion-input>
      </ion-item>
      <div *ngIf="forgotPasswordForm.get('code')?.invalid && forgotPasswordForm.get('code')?.touched" class="ion-text-start ion-padding-start error-text">
        Código obrigatório.
      </div>

      <ion-item class="ion-margin-bottom" color="none">
        <ion-icon name="lock-closed-outline" slot="start" color="light"></ion-icon>
        <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="newPassword" placeholder="Nova Senha" color="light" autocomplete="new-password"></ion-input>
        <ion-icon [name]="showPassword ? 'eye-outline' : 'eye-off-outline'" slot="end" color="light" (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>
      <div *ngIf="forgotPasswordForm.get('newPassword')?.invalid && forgotPasswordForm.get('newPassword')?.touched" class="ion-text-start ion-padding-start error-text">
        Senha obrigatória.
      </div>

      <ion-item class="ion-margin-bottom" color="none">
        <ion-icon name="lock-closed-outline" slot="start" color="light"></ion-icon>
        <ion-input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" placeholder="Confirmar Nova Senha" color="light" autocomplete="new-password"></ion-input>
        <ion-icon [name]="showConfirmPassword ? 'eye-outline' : 'eye-off-outline'" slot="end" color="light" (click)="toggleConfirmPasswordVisibility()"></ion-icon>
      </ion-item>
      <div *ngIf="forgotPasswordForm.hasError('passwordMismatch') && forgotPasswordForm.get('confirmPassword')?.touched" class="ion-text-start ion-padding-start error-text">
        As senhas não coincidem.
      </div>
    </div>

    <!-- Reset Password Button -->
    <ion-button *ngIf="codeSent" expand="block" type="submit" [disabled]="forgotPasswordForm.invalid" color="primary" class="ion-margin-top">
      REDEFINIR SENHA
    </ion-button>
  </form>

  <ion-button fill="clear" color="light" class="ion-no-padding ion-margin-top" routerLink="/login">
    Voltar para o Login
  </ion-button>

</ion-content>
