.gradient-background {
  --background: linear-gradient(135deg, #2c2c2c, #000000);
}

ion-toolbar {
  --background: transparent;
  padding: 0 10px;
}

ion-icon {
  color: var(--ion-color-light);
}

h1 {
  color: var(--ion-color-tertiary) !important;
  font-weight: bold;
}

p {
  color: var(--ion-color-light) !important;
}

.profile-avatar {
  width: 42px;
  height: 42px;
  border: 2px solid var(--ion-color-primary);
  padding: 2px;
}

ion-buttons[slot="end"] ion-button {
  font-size: 24px;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;

  ion-button {
    --padding-start: 12px;
    --padding-end: 12px;

    ion-icon {
      font-size: 26px;
      color: var(--ion-color-light);
    }
  }

  .post-button {
    background: var(--ion-color-primary-tint);
    border-radius: 18px;
    width: 70px;
    height: 40px;

    ion-icon {
      color: var(--ion-color-primary-contrast);
      font-size: 28px;
    }
  }
}

ion-menu {
  --background: #1a1a1a;
  --ion-background-color: #1a1a1a;

  ion-toolbar, ion-content {
    --background: #1a1a1a;
    --color: white;
  }

  ion-item {
    --background: transparent;
    --color: white;
    --border-color: #333;
  }

  ion-searchbar {
    --background: #333;
    --color: white;
  }
}


.profile-avatar {
  width: 42px;
  height: 42px;
  border: 2px solid var(--ion-color-primary);
  padding: 2px;
}
ion-menu::part(backdrop) {
  display: none;
}

.menu-content-open {
  opacity: 1 !important;
}

#main-content {
  background: transparent !important;
  --background: transparent !important;
}
