<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onHeaderAvatarClick()">
        <ion-spinner *ngIf="isLoading"></ion-spinner>

        <ng-container *ngIf="!isLoading && userProfile">
          <!-- Always show avatar -->
          <ion-avatar class="profile-avatar">
            <img *ngIf="userProfile.urlPerfil" [src]="userProfile.urlPerfil" alt="User Profile Picture" />
            <ion-icon *ngIf="!userProfile.urlPerfil" name="person-circle-outline" size="large"></ion-icon>
          </ion-avatar>
        </ng-container>

        <!-- Fallback if profile fails to load -->
        <ion-icon *ngIf="!isLoading && !userProfile" name="person-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="onHeartClick()">
        <ion-icon slot="icon-only" name="football-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="onMessagesClick()">
        <ion-icon slot="icon-only" name="chatbubble-ellipses-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding gradient-background" [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refreshPosts($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="posts$ | async as posts">
    <app-post-card *ngFor="let post of posts; trackBy: trackById" [post]="post"></app-post-card>
  </div>

  <ion-infinite-scroll (ionInfinite)="loadMorePosts($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="footer-buttons">
      <ion-button (click)="onHomeClick()" fill="clear">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="goToCreatePost()" fill="clear" class="post-button" *ngIf="userRole !== 'CLUBE'">
        <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="onSearchClick()" fill="clear">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
